body {
  background: linear-gradient(90.21deg, rgba(117, 115, 116, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.input-group {
  width: 70%;
}

.card {
  max-width: 70%;
}

.card-title {
  position: absolute;
  padding: 20px;
  margin-top: 310px;
}

.card-date {
  position: absolute;
  padding: 20px;
  margin-top: 350px;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.card-desc {
  position: absolute;
  padding-left: 15px;
  margin-top: 80px;
}

.mapView {
  margin-left: 14vw;
  margin-top: -3vw;
}